/* slick css */
.imgSliderInHotelPage .slick-dots {
  top: 148px;
}
@media screen and (max-width: 1079px) {
  .imgSliderInHotelPage .slick-dots {
    top: 275px;
  }
}

.slick-dots li button:before {
  color: #fff !important;
}

.slick-list {
  border-radius: 12px !important;
}

.slick-dots li button:before {
  font-size: 10px !important;
}

.slick-dots li {
  margin: 0 !important;
  width: 16px !important;
  border-radius: 200px;
}

.dateblock .MuiOutlinedInput-notchedOutline {
  border-color: transparent !important;
}
.dateblock .MuiInputBase-input {
  background: #fff !important;
}

.hotel_detail .MuiOutlinedInput-input {
  background: #fff !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar_hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
.scrollbar_hide {
  -ms-overflow-style: none;
}

/* light gallery background change */
.lg-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;
}
.lg-counter,
.lg-toolbar .lg-icon {
  color: #fff !important;
}
.lg-close {
  font-size: 30px !important;
}

.lg-counter {
  width: 100% !important;
  text-align: center !important;
}

.gallery-item {
  width: 100%;
}
